<div class="flex justify-content-center align-items-center min-h-screen w-full">

    <p-card header="Book formulary" class="w-10">
        <form [formGroup]="formBook" (ngSubmit)="edit?updateBook():createBook()" class="flex flex-column gap-2">
            <div class="field flex flex-column gap-1">
                <label for="title">Title</label>
                <input type="text" pInputText formControlName="title" />
            </div>
            <div class="field flex flex-column gap-1">
                <label for="author">Author</label>
                <input type="text" pInputText formControlName="author" />
            </div>
            <div class="field flex flex-column gap-1">
                <label for="pages">Pages</label>
                <p-input-number inputId="integeronly" formControlName="pages" />
            </div>
            <div class="field flex flex-column gap-1">
                <label for="price">Price</label>
                <p-input-number inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"
                    formControlName="price" />
            </div>
            <div class="field flex flex gap-2">
                <p-fileupload mode="basic" [chooseLabel]="edit?'Change image':'Choose Image'" chooseIcon="pi pi-upload" name="demo[]" customUpload="true"
                    accept="image/*" maxFileSize="1000000" (onSelect)="onFileSelected($event)" />
            </div>
            <div class="flex gap-2">
                <p-button label="Save" [loading]="isSaveinProgress" type="submit" disabled="true"/>
            </div>
        </form>
    </p-card>

</div>