<a routerLink="/book-form-component/new" class="p-button font-bold w-max" style="margin-bottom: 1rem;">
    Create new book
</a>
<div class="flex flex-wrap gap-3">
    @for (book of books; track book.id) {
    <p-card header="{{book.title}}" subheader="{{book.author}}" [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <ng-template #title> {{book.title}} </ng-template>
        <ng-template #subtitle> {{book.author}} </ng-template>
        <p>
            Pages: {{book.pages}}
        </p>
        <p>
            Price: {{book.price}}$
        </p>
        <ng-template #footer>
            <div class="flex gap-1 mt-1">
                <p-button (onClick)="deleteBook(book.id)" label="Delete" severity="secondary" />
                <a routerLink="book-form-component/{{ book.id }}" class="p-button font-bold">
                    Edit
                </a>
            </div>
        </ng-template>
    </p-card>
    }@empty {
    <p>Non existent books.</p>
    }
</div>